<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="c1" class="com.bridgelab.dic.Customer">
        <constructor-arg name="firstName" value="Amit"/>
        <constructor-arg name="lastName" value="Haral"/>
        <constructor-arg name="age" value="22"/>
    </bean>

    <bean id="c2" class="com.bridgelab.dic.Customer">
        <property name="firstName" value="Ganesh"/>
        <property name="lastName" value="Shiv"/>
        <property name="age" value="22"/>
    </bean>

    <bean id="c3" class="com.bridgelab.dic.Customer">
        <constructor-arg name="firstName" value="Steve"/>
        <constructor-arg name="lastName" value="Jobs"/>
        <constructor-arg name="age" value="22"/>
    </bean>

    <bean id="main" class="com.bridgelab.dic.Main">
        <property name="customer">
            <bean id="c4" class="com.bridgelab.dic.Customer">
                <constructor-arg name="firstName" value="Shankar"/>
                <constructor-arg name="lastName" value="Rajput"/>
                <constructor-arg name="age" value="24"/>
            </bean>
        </property>
    </bean>

</beans>